body{
    background-color: #000;
    font-family: sans-serif;
}

.logo  img{
    width: 90px;
    position: relative;
    left:8px;
    
}

.logo{
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 8px;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;    
    bottom: 0;
    padding: 10px;
    width: 300px;
}

.nav-sidebar{
    background-color: #121212;
    border-radius: 8px;
    padding : 16px 0 0 0;

}

.sidebar nav ul{
    margin-top: 10px;
    padding-left: 30px;
}

.sidebar nav ul li{
    padding: 10px 0px;
}

.sidebar nav ul li a{
    font-family: sans-serif;
    color: rgb(184, 149, 149);
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.library{
    background-color:#121212;
    border-radius:8px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding:4px 8px;
    color:#b3b3b3;
    font-weight: 600;
    font-size:14px;
    margin-top: 10px;
}

.library .library__content{
    display:flex;
    justify-content: space-between;
}

.library .library__button{
    display:flex;
    margin-right: 10px;
    color:#b3b3b3;
    background-color: transparent;
    border:0px;
    font-size: 14px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding:20px 10px;
    cursor: pointer;
}

.library .library__button .fa{
    font-size:20px;
    font-weight: 300;
    color:#b3b3b3;
    margin-right: 10px;
    padding-right:8px;
}

.library .library__content .fa-plus{
    margin: 24px 10px;
}

.section_playlist{
    background-color: #242424;
    display: flex;
    border-radius: 8px;
    padding: 16px 20px;
    align-items: flex-start;
    justify-content: space-between;
    color: #b3b3b3;
    font-weight: 600;
    margin: 8px 0;
}

.section_playlist .section_playlist__content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section_playlist .text_title{
    padding-bottom:14px ;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.section_playlist .text_subtitle{
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.section_playlist .section-playlist__button{
    border: none;
    padding: 8px;
    border-radius: 20px;
    color: #000;
    font-size: 14px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration: none;
    width: 113px;
    margin-top: 12px;
    cursor: pointer;
}
.sidebar .cookies {
    padding:20px;
}

.sidebar .cookies a{
    font-size: 15px;
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 500;

}

.sidebar .cookies a:hover{
    color: red;
    transition: 1s; 
    text-decoration: underline;
}

.lenguage{
    padding: 10px
}

.lenguage .lenguage_button{
    border-radius: 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 13px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    
}

.Assinatura_container{
    position: fixed;
    height: 80px;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(to right,rgb(179, 89, 187),rgb(62, 62, 131), rgb(30, 127, 136));
}

.Assinatura_container .text_assinatura .title{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    font-family: arial;
    position: fixed;
    font-weight: 600;
}

.text_subtitle{
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    font-family: arial;
    position: fixed;
    bottom:6px;
    font-weight:bold;
    width: 100%;
}

.button_subscribe{
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.button_subscribe .subscribe{
    border-radius: 20px;
    border: 1px solid white;
    background-color: white;
    color: #000;
    font-size: 13px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 30px;
}
